<div class="container">
	<p></p>
	
	<p>
		<h3><%= @closeout.spaced_year %> <%= @closeout.model %> IS <%= number_to_currency(@closeout.sale_price) %> (REG <%= number_to_currency(@closeout.original_price) %>)</h3>
	</p>
		
	<p>
		<h4><%= @closeout.sizes %></h4>
	</p>

	<p><%= image_tag @closeout.url, :size => "480x285" %></p>
		
	
	
</div>
