<div class="container">
	<p></p>
	
	<p>
		<h3><%= @closeout.spaced_year %> <%= @closeout.model %> IS <%= number_to_currency(@closeout.sale_price) %> (REG <%= number_to_currency(@closeout.original_price) %>)</h3>
	</p>
		
	<p>
		<h4><%= @closeout.sizes %></h4>
	</p>

	<p><%= image_tag @closeout.image_url.to_s, :size => "480x285" %></p>
	
	<p class="lead">
	<span class="glyphicon glyphicon-chevron-right"></span>This full alloy road bike is ready to be picked up at<br>
	<span class="glyphicon glyphicon-map-marker"></span>GO RIDE Bicycles in Redwood City<br>
	<span class="glyphicon glyphicon-wrench"></span> We will professionally fit your bike and include lifetime servicing.<br>
	<span class="glyphicon glyphicon-road"></span>This bike must be picked up in store and cannnot be shipped or delivered<br>
	</p>
	<p class=>
		<h4>More closeouts at
		<a href="">Closeouts</a>
		</h4>
	</p>

<!-- Specs -->
<!-- Tags -->
</div>
