<div class="container">
  <div class='row'>
<table class="table table-hover">
<!--   <thead>
    <tr>
      <th>Name</th>
      <th>Sizes</th>
      <th>Bike type</th>

    </tr>
  </thead> -->

  <tbody>
   <tr id='mtbmens'>
      <th>MTB Men's</th>
    </tr>
    <% @closeouts.each do |closeout| %>
      <tr>
        <td><%= closeout.name %></td>
        <td><%= closeout.sizes %></td>
        <td><%= closeout.bike_type %></td>
        <!-- <td><%= link_to 'Show', closeout %></td>
        <td><%= link_to 'Edit', edit_closeout_path(closeout) %></td>
        <td><%= link_to 'Destroy', closeout, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
    <tr id='roadmens'>
      <th>Road Men's</th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr id='mtbwomens'>
      <th>MTB Women's</th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr id='roadwomens'>
      <th>Road Women's</th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr id='cyclocross'>
      <th>Cyclocross</th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<br>

<%= link_to 'New Closeout', new_closeout_path %>
</div><!-- row -->
</div><!-- container -->