<div id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <% images = ['http://www.goridebicycles.com/goride/wp-content/uploads/2012/11/MTN-11.jpg', 'http://www.goridebicycles.com/goride/wp-content/uploads/2012/07/SAGAN.jpg', 'http://www.goridebicycles.com/goride/wp-content/uploads/2012/03/Ban-Tall-boy.jpg'] %>
  <% i = 0 %>
  <div class="carousel-inner">
    <% images.each do |url| %>
    <div class="item<%= if i == 0 then ' active' end %>">
      <% i += 1 %>
      <div class="fill" style="background-image:url('<%= url %>');"></div>
      <div class="carousel-caption">
        <h1>Caption</h1>
      </div>
    </div>
    <% end %>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>
</div>

<div class="section">

  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <h2> <i class="icon-ok-circle"></i>
          GoRide Tradition
        </h2>
        <p class="lead">
          GoRide Bicycles continues the 30-year tradition of Garner’s Pro Bikes.
          We currently have one location in Redwood City. Stop by and pay us a visit!
        </p>
      </div>
      <div class="col-lg-4 col-md-4">
        <h2> <i class="icon-pencil"></i>
          Quality at Competitive Prices
        </h2>
        <p class="lead">
          GoRide Bicycles has a low-price guarantee on all products for up to seven days after purchase. We offer full service on ALL bicycles, and free lifetime service on any bicycles bought at the shop!
        </p>
      </div>
      <div class="col-lg-4 col-md-4">
        <h2>
          <i class="icon-folder-open-alt"></i>
          Corporate and Club
        </h2>
        <p class="lead">
          We also offer corporate and club discounts. For information on how to get discounts for your organization, please contact
          <a title="mailto:bob@goridebicycles.com?subject=email subject" href="mailto:bob@goridebicycles.com?subject=GoRide Bicycles">Bob Weger</a>
        </p>
      </div>
    </div>
    <!-- /.row --> 
  </div>
  <!-- /.container -->
</div>
<!-- /.section -->

<div class="section text-center">
  <%= render "about" %></div>
<!-- /.section-colored -->
<div class="section-colored">
  <%= render "bikes" %></div>
<!-- /.section -->
<div class="section text-center">
  <%= render "services" %></div>
<!-- /.section-colored -->

<div class="section">

  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Display Some Work on the Home Page Portfolio</h2>
        <hr></div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <a href="portfolio-item.html">
          <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <a href="portfolio-item.html">
          <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <a href="portfolio-item.html">
          <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <a href="portfolio-item.html">
          <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <a href="portfolio-item.html">
          <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <a href="portfolio-item.html">
          <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450"></a>
      </div>
    </div>
    <!-- /.row --> </div>
  <!-- /.container -->

</div>
<!-- /.section -->

<div class="section-colored">

  <div class="container">

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <h2>Modern Business Features Include:</h2>
        <ul>
          <li>Bootstrap 3 Framework</li>
          <li>Mobile Responsive Design</li>
          <li>Predefined File Paths</li>
          <li>Working PHP Contact Page</li>
          <li>Minimal Custom CSS Styles</li>
          <li>Unstyled: Add Your Own Style and Content!</li>
          <li>Font-Awesome fonts come pre-installed!</li>
          <li>
            100% <strong>Free</strong>
            to Use
          </li>
          <li>Open Source: Use for any project, private or commercial!</li>
        </ul>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <img class="img-responsive" src="http://placehold.it/700x450/ffffff/cccccc"></div>
    </div>
    <!-- /.row --> </div>
  <!-- /.container -->

</div>
<!-- /.section-colored -->

<div class="section">

  <div class="container">

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <img class="img-responsive" src="http://placehold.it/700x450"></div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <h2>Modern Business Features Include:</h2>
        <ul>
          <li>Bootstrap 3 Framework</li>
          <li>Mobile Responsive Design</li>
          <li>Predefined File Paths</li>
          <li>Working PHP Contact Page</li>
          <li>Minimal Custom CSS Styles</li>
          <li>Unstyled: Add Your Own Style and Content!</li>
          <li>Font-Awesome fonts come pre-installed!</li>
          <li>
            100% <strong>Free</strong>
            to Use
          </li>
          <li>Open Source: Use for any project, private or commercial!</li>
        </ul>
      </div>
    </div>
    <!-- /.row --> </div>
  <!-- /.container -->

</div>
<!-- /.section -->

<div class="container">

  <div class="row well">
    <div class="col-lg-8 col-md-8">
      <h4>
        'Modern Business' is a ready-to-use, Bootstrap 3 updated, multi-purpose HTML theme!
      </h4>
      <p>
        For more templates and more page options that you can integrate into this website template, visit Start Bootstrap!
      </p>
    </div>
    <div class="col-lg-4 col-md-4">
      <a class="btn btn-lg btn-primary pull-right" href="http://startbootstrap.com">See More Templates!</a>
    </div>
  </div>
  <!-- /.row -->

</div>
<!-- /.container -->