

    <!-- Side Menu -->
    <a id="menu-toggle" href="#" class="btn btn-primary btn-lg toggle" style="color:#b84d45"><i class="fa fa-bars"></i></a>
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-default btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
        <li class="sidebar-brand"><a href="http://startbootstrap.com">GoRide Bicycles</a></li>
        <li><a href="#top">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#bikes">Bikes</a></li>
        <li><a href="#hours">Hours</a></li>
        <li><a href="#location">Location</a></li>
         <li><a href="#closeouts">Closeouts</a></li>
      </ul>
    </div>
    <!-- /Side Menu -->
  
    <!-- Full Page Image Header Area -->
    <div id="top" class="header">
      <div class="vert-text">
        <h1>GoRide Bicycles</h1>
        <h3>Highest Quality <em>Bikes </em>  at the Most Competitive<em> Prices</em></h3>
        <a href="#about" class="btn btn-default btn-lg">About Us</a>
        <a href="#closeouts" class="btn btn-default btn-lg">Closeouts</a>
      </div>
    </div>
    <!-- /Full Page Image Header Area -->
  
    <!-- Intro -->
    <div id="about" class="intro">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <h2>GoRide Bicycles continues the 30-year tradition of Garner’s Pro Bikes.
We currently have one location in Redwood City. Stop by and pay us a visit!</h2>
<p class="lead">GoRide Bicycles has a low-price guarantee on all products for up to seven days after purchase. We offer full service on ALL bicycles, and free lifetime service on any bicycles bought at the shop. We also offer corporate and club discounts. For information on how to get discounts for your organization, please contact <a title="mailto:bob@goridebicycles.com?subject=email subject" href="mailto:bob@goridebicycles.com?subject=GoRide Bicycles">Bob Weger</a>.</p>
            <!-- <h2>Subtle Sidebar is the Perfect Template for your Next Portfolio Website Project!</h2>
            <p class="lead">This template really has it all. It's up to you to customize it to your liking! It features some fresh photography courtesy of <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a>.</p> -->
          </div>
        </div>
      </div>
    </div>
    <!-- /Intro -->
  
    <!-- Services -->
    <div id="services" class="services">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-4 text-center">
            <h2>Our Services</h2>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-md-offset-2 text-center">
            <div class="service-item">
              <i class="service-icon fa fa-gears"></i>
              <h2>Bike Repair</h2>
              <p>Does your bike need some love? We can get you up and running in no time!</p>
            </div>
          </div>
          <div class="col-md-2 text-center">
            <div class="service-item">
              <i class="service-icon fa fa-group"></i>
              <h2>Corporate/Club</h2>
              <p>We love working with corporate groups and clubs. Get in touch with us now for more info.</p>
            </div>
          </div>
          <div class="col-md-2 text-center">
            <div class="service-item">
              <i class="service-icon fa fa-shopping-cart"></i>
              <h2>Closeouts</h2>
              <p>Get last year's models at the best prices! GoRide has an awesome selection of closouts bikes in all brands and styles</p>
            </div>
          </div>
          <div class="col-md-2 text-center">
            <div class="service-item">
              <i class="service-icon fa fa-arrows-v"></i>
              <h2>Bike Fitting</h2>
              <p>Feel the difference of a professional fit by one of our crew. Every new bike comes with a free fitting.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Services -->

    <!-- Callout -->
    <div class="callout">
      <div class="vert-text">
        <h1>Our Bikes</h1>
      </div>
    </div>
    <!-- /Callout -->

    <!-- Portfolio -->
    <div id="bikes" class="portfolio">
      <div class="container">
        <!-- <div class="row">
          <div class="col-md-4 col-md-offset-4 text-center">
            <h2>Our Work</h2>
            <hr>
          </div>
        </div> -->
        <div class="row">
          <div class="col-md-4 col-md-offset-2 text-center">
            <div class="portfolio-item">
              <a href="http://www.cannondale.com" target="_blank"><%= image_tag "cannondale.jpeg", :class => "img-portfolio img-responsive" %></a>
              <h4></h4>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="portfolio-item">
              <a href="http://www.fujibikes.com" target="_blank"><%= image_tag "fuji.jpeg", :class => "img-portfolio img-responsive" %></a>
              <h4></h4>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-offset-2 text-center">
            <div class="portfolio-item">
              <a href="http://www.santacruzmtb.com/home" target="_blank"><%= image_tag "santa_cruz.jpeg", :class => "img-portfolio img-responsive" %></a>
              <h4></h4>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="portfolio-item">
              <a href="http://www.lookcycle.com" target="_blank"><%= image_tag "look.jpeg", :class => "img-portfolio img-responsive" %></a>
              <h4></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Portfolio -->

    <!-- Call to Action -->
    <div class="call-to-action" id="hours">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <!-- <h3>The buttons below are impossible to resist.</h3> -->
            <a href="#location" class="btn btn-lg btn-default">
            2755 El Camino Real<br/>
            Redwood City, CA 94061<br/>
            (extra parking available behind the store)<br/>
          </a>
          <a href="#location" class="btn btn-lg btn-default">
          650-366-BIKE (650-366-2453)
        </a>
          <a href="#location" class="btn btn-lg btn-default">
          Mon-Sat: 10am-6pm
          Sun: 12pm-5pm
        </a>
          </div>
        </div>
      </div>
    </div>
    <!-- /Call to Action -->

    <!-- Map -->
    <div id="location" class="map">
      <!-- <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a></small></iframe> -->

      <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=GoRide+Bicycles,+El+Camino+Real,+Redwood+City,+CA&amp;aq=0&amp;oq=twitter&amp;sll=37.471265,-122.214374&amp;sspn=0.006295,0.006295&amp;ie=UTF8&amp;hq=GoRide+Bicycles,+El+Camino+Real,+Redwood+City,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe><br /><small></small></iframe>
    </div>
    <!-- /Map -->

    <!-- Closeouts -->
    <div id="closeouts" class="closeouts call-to-action">
      <%= render "closeouts" %>
    </div>

    <!-- /Closeouts -->